@media screen and (min-width:576px) and (max-width:991px) {

    .f-elem-col-1 {
        margin: 0 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .f-elem-col-2 {
        margin: 0 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-1 {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-2 {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-3 {
        margin: 0 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-1 {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-2 {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-3 {
        margin-left: 1.5rem;
        padding: 1rem;
    }
    
    .l-elem-col-4 {
        margin-right: 1.5rem;
        padding: 1rem;
        
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    .f-elem-col-1 {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
        padding-bottom: 32px;
    }

    .f-elem-col-2 {
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-1 {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }

     .s-elem-col-2 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-3 {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-1 {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-2 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-3 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-4 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .break {
        display: none;
    }
}

@media screen and (min-width:1200px) {

    .f-elem-col-1 {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
        padding-bottom: 32px;
    }

    .f-elem-col-2 {
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-1 {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }

     .s-elem-col-2 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .s-elem-col-3 {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-1 {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem 1rem 16px 1rem;
    }

    .l-elem-col-2 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-3 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .l-elem-col-4 {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .break {
        display: none;
    }
    
}